<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Clientes</title>
</head>

<body>

    <h1>Clientes</h1>

    <a th:href="@{/clientes/nuevo}">Nuevo Cliente</a>

    <br><br>

    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Identificación</th>
            <th>Teléfono</th>
            <th>Correo</th>
        </tr>

        <tr th:each="c : ${clientes}">
            <td th:text="${c.nombre}"></td>
            <td th:text="${c.identificacion}"></td>
            <td th:text="${c.telefono}"></td>
            <td th:text="${c.correo}"></td>
        </tr>
    </table>

</body>

</html>