<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nuevo Proveedor</title>
</head>

<body>

    <h1>Registrar Proveedor</h1>

    <form th:action="@{/proveedores/guardar}" th:object="${proveedor}" method="post">

        Nombre:<br>
        <input type="text" th:field="*{nombre}" required />
        <br><br>

        Contacto:<br>
        <input type="text" th:field="*{contacto}" />
        <br><br>

        Teléfono:<br>
        <input type="text" th:field="*{telefono}" />
        <br><br>

        Correo:<br>
        <input type="email" th:field="*{correo}" />
        <br><br>

        <button type="submit">Guardar</button>

    </form>

    <br>

    <a th:href="@{/proveedores}">Volver</a>

</body>

</html>