<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Nueva Compra</title>
</head>
<body>

<h1>Registrar Compra</h1>

<form th:action="@{/compras/guardar}"
      th:object="${compra}"
      method="post">

  <h3>Datos Generales</h3>

  Proveedor:
  <select th:field="*{proveedorId}">
    <option value="">Seleccione</option>
    <option th:each="p : ${proveedores}"
            th:value="${p.id}"
            th:text="${p.nombre}">
    </option>
  </select>

  <br><br>

  Usuario ID:
  <input type="text" th:field="*{usuarioId}" />

  <br><br>

  <h3>Productos Comprados</h3>

  <div id="detalles">

    <div th:each="d, stat : *{productos}">
      Producto:
      <select th:field="*{productos[__${stat.index}__].productoId}">
        <option value="">Seleccione</option>
        <option th:each="pr : ${productosDisponibles}"
                th:value="${pr.id}"
                th:text="${pr.nombre}">
        </option>
      </select>

      Costo:
      <input type="number"
             step="0.01"
             th:field="*{productos[__${stat.index}__].costo}" />

      Cantidad:
      <input type="number"
             th:field="*{productos[__${stat.index}__].cantidad}" />

      <br><br>
    </div>

  </div>

  <button type="button" onclick="agregarDetalle()">Agregar producto</button>

  <br><br>

  <button type="submit">Registrar Compra</button>

</form>

<br>

<a th:href="@{/compras}">Volver</a>

<script>
  function agregarDetalle() {

    const index = document.querySelectorAll('#detalles > div').length;

    const options =
      document.querySelector('#detalles select').innerHTML;

    const div = document.createElement('div');

    div.innerHTML = `
      Producto:
      <select name="productos[${index}].productoId">
        ${options}
      </select>

      Costo:
      <input type="number"
             step="0.01"
             name="productos[${index}].costo" />

      Cantidad:
      <input type="number"
             name="productos[${index}].cantidad" />

      <br><br>
    `;

    document.getElementById('detalles')
      .appendChild(div);
  }
</script>

</body>
</html>