<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}" />
  </head>
  <body>
    <div th:fragment="sidebar">
      <div class="sidebar">
        <a th:href="@{/}">
          <img th:src="@{/icons/home.png}" class="icon" />
          <span>Inicio</span>
        </a>

        <a th:href="@{/ventas}">
          <img th:src="@{/icons/ventas.png}" class="icon" />
          <span>Ventas</span>
        </a>

        <a th:href="@{/productos}">
          <img th:src="@{/icons/productos.png}" class="icon" />
          <span>Productos</span>
        </a>

        <a th:href="@{/clientes}">
          <img th:src="@{/icons/clientes.png}" class="icon" />
          <span>Clientes</span>
        </a>

        <a th:href="@{/reportes}">
          <img th:src="@{/icons/reportes.png}" class="icon" />
          <span>Reportes</span>
        </a>
      </div>
    </div>
  </body>
</html>
