<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Productos</title>
</head>
<body>

<h1>Lista de Productos</h1>

<a href="/productos/nuevo">Nuevo Producto</a>

<table border="1">
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Precio Venta</th>
        <th>Stock</th>
    </tr>

    <tr th:each="p : ${productos}">
        <td th:text="${p.codigo}"></td>
        <td th:text="${p.nombre}"></td>
        <td th:text="${p.precioVenta}"></td>
        <td th:text="${p.stockActual}"></td>
    </tr>
</table>

</body>
</html>